{
  "extends": "unobtrusive",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "warn"
  }
}
